<%= form_for(@tweet) do |f| %>

  <!-- Check for Errors -->
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@tweet.errors.count, 'error') %> prohibitied this tweet from being saved:
      </h2>

      <!-- Loop through the errors and show them as a list -->
      <ul>
        <% @tweet.errors.full_messages.each do |error_message| %>
          <li><%= error_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Actual Form -->
  <div class="field">
    <%= f.label :message %> <br>
    <%= f.text_field :message %>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>